/* line 4, sass/admin.scss */
.expando-button-widget-admin label, .expando-button-widget-admin input, .expando-button-widget-admin textarea {
  display: block;
  width: 100%;
  max-width: 100%; }
/* line 10, sass/admin.scss */
.expando-button-widget-admin .expando-button-uploader .button {
  margin: 0.5em 0;
  padding: 0.5em;
  display: inline-block;
  height: auto;
  width: 100%;
  text-align: center; }
