/* line 3, sass/widget.scss */
.expando-button-widget {
  border: 0.25em solid #ccc;
  padding: 0.5em 1em 1em;
  display: block; }
  /* line 4, sass/widget.scss */
  .expando-button-widget * {
    box-sizing: border-box;
    -moz-box-sizing: border-box; }
  /* line 11, sass/widget.scss */
  .expando-button-widget .expando-button-widget-header {
    display: block; }
  /* line 16, sass/widget.scss */
  .expando-button-widget.is-closed, .expando-button-widget.is-empty {
    padding-bottom: 0.5em; }
    /* line 18, sass/widget.scss */
    .expando-button-widget.is-closed .expando-button-widget-header, .expando-button-widget.is-empty .expando-button-widget-header {
      margin: 0; }
  /* line 22, sass/widget.scss */
  .expando-button-widget .expando-button-widget-more-text {
    margin-top: 0.75em; }
  /* line 25, sass/widget.scss */
  .expando-button-widget .expando-button-widget-body {
    margin-top: 0.5em; }
  /* line 28, sass/widget.scss */
  .expando-button-widget img {
    display: block;
    margin: 0; }
