/* line 3, sass/widget.scss */
.expando-button-widget {
  padding: 0.5em;
  border: 0.25em solid #ddd;
  display: block;
  text-align: center;
  text-decoration: none; }
  /* line 4, sass/widget.scss */
  .expando-button-widget * {
    box-sizing: border-box;
    -moz-box-sizing: border-box; }
  /* line 15, sass/widget.scss */
  .expando-button-widget:hover {
    border-color: #666; }
  /* line 18, sass/widget.scss */
  .expando-button-widget img {
    display: block;
    margin: 0 auto;
    padding: 0;
    max-width: 100%; }
  /* line 24, sass/widget.scss */
  .expando-button-widget .expando-button-widget-header {
    display: block; }
  /* line 29, sass/widget.scss */
  .expando-button-widget.is-closed .expando-button-widget-header, .expando-button-widget.is-empty .expando-button-widget-header {
    margin: 0; }
  /* line 33, sass/widget.scss */
  .expando-button-widget .expando-button-widget-more-text {
    margin-top: 0.75em; }
  /* line 36, sass/widget.scss */
  .expando-button-widget .expando-button-widget-body {
    margin-top: 0.75em; }
