// widget.scss

.expando-button-widget {
  * {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
  }

  padding: 0.75em 1em;
  margin: 0.5em inherit;
  border: 0.25em solid #ddd;
  display: block;
  text-align: center;
  text-decoration: none;

  &:hover {
    border-color: #666;
  }
  img {
    display: block;
    margin: 0 auto;
    padding: 0;
    max-width: 100%;
  }
  .expando-button-widget-header {
    display: block;
  }
  &.is-closed,
  &.is-empty {
    .expando-button-widget-header {
      margin: 0;
    }
  }
  .expando-button-widget-more-text {
    margin-top: 0.75em;
  }
  .expando-button-widget-body {
    margin-top: 0.75em;
  }
}
